<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Missile Launch</title>
</head>
<body>
<div class="row">
    <div class="col-sm-12 text-center">
        <img src="/static/Missilelogo.png" alt="Italian Trulli">
    </div>
</div>

<div class="form-group text-center">
    <a href="tgwjkdfhaasdnbfmasdfvgkasd">Click here to fire!</a>
</div>

<div class="form-group text-center">
    <a href="logout">Logout here!</a>
</div>

</body>
</html>
