{% extends 'base.html' %}

{% block title %}{{ Title }}{% endblock %}

{% block header %}
    <link rel="stylesheet" href="/static/css/dashboard.css" crossorigin="anonymous">
    <h1>{{ Title }}</h1>
{% endblock %}

{% block content %}
    <div class="grid-container">
        {% for module in subsystems %}
            <span>
            <div class="alert alert-primary"> {{ module[0] }}</div>
                {% if module[2] == None %}
                    <div class="alert alert-danger">Not Claimed</div>
                {% else %}
                    <div class="alert alert-success">Claimed by {{ module[1] }}</div>
                {% endif %}
            </span>
        {% endfor %}
    </div>

{% endblock %}