{% extends 'base.html' %}


<!-- This creates the heading of the page and makes it the same as the title -->
{% block header %}
    <h1>{{ Title }}</h1>
{% endblock %}


<!-- This replaces the content block in base.html -->
{% block content %}


    {% for module in modules %}

        <div class="container-fluid alert alert-primary">
            {#        One row per module#}
            <div class="row">
                <div class="col-md-3">{{ module.title }}</div>
                <div class="col-md-3">{{ module.description }}</div>
                <div class="col-md-3"><a href="/module/{{ module.subsystemid }}">{{ module.title }}</a></div>
                {% if user.is_admin() %}
                    <div class="col-md-3"><a href="/reset_passcode/{{ module.subsystemid }}">Reset Passcode</a></div>
                {% endif %}

            </div>

        </div>

    {% endfor %}

{% endblock %}