{% extends 'base.html' %}


<!-- This creates the heading of the page and makes it the same as the title -->
{% block header %}
    <p>{{ module.title }}</p>
    <p>{{ module.challenge_text }}</p>
    <p> {{ module.ip_address }}</p>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <b>Insert {{ form.passcode.label }}:</b><br>
        {{ form.passcode(size=32) }}<br>
        {% for error in form.passcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p style="padding-top: 15px">{{ form.submit() }}</p>
    </form>
{% endblock %}


<!-- This replaces the content block in base.html -->
{% block content %}


{% endblock %}