{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ title }}{% endblock %}</h1>
{% endblock %}


{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        Resetting Password for user: <div class = "focus font-color">{{ user.username }}</div>
    </p>
        <p>
            <b>Insert {{ form.new_password.label }}:</b><br>
            {{ form.new_password(size=32) }}<br>
            {% for error in form.new_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="padding-top: 15px">{{ form.submit() }}</p>
    </form>

{% endblock %}