{% extends 'base.html' %}


<!-- This creates the heading of the page and makes it the same as the title -->
{% block header %}
    <h2 style="text-align: left; padding-left: 280px; padding-bottom: 90px;"><img src="../static/blackout-banner.jpg"
                                                                                  height="250" width="1050"
                                                                                  alt="Blackout Banner"></h2>
{% endblock %}


<!-- This replaces the content block in base.html -->
{% block content %}


{% endblock %}