{% extends 'base.html' %}

{% block meta %}
    <meta http-equiv="refresh" content="30">  {% endblock %}

{% block title %}{{ Title }}{% endblock %}

{% block header %}
    <h1 style="padding-left: 600px; font-size: 60px">{{ Title }}</h1>
{% endblock %}


{% block content %}

    {% for user in user_data %}
        <div class="container-fluid bg-primary text-white text-center p-3">
            <div class="row">

                <div class="col-md-6 display-4">{{ user.name }} </div>
                <div class="col-md-6 display-4">{{ user.current_score }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
