{% extends 'base.html' %}

<!-- This creates the heading of the page and makes it the same as the title -->
{% block header %}
    <h1>{% block title %} {{ pagetitle }}   {% endblock %}</h1>
{% endblock %}

<!-- This replaces the content block in base.html -->
{% block content %}
    <style>
        figure {
            margin: 16px 40px !important;
        }
        .img-fluid {
            max-width: 10%;
            height: auto;
        }
        .bs-example div[class^="col"] {
            text-align: center;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    </style>

    <form action="/claimsubsystem" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {% for i in subsystems %}

            {% if loop.index0 % 2==0 %}
                <div class="bs-example cell1">
            {% else %}
                <div class="bs-example cell2">
            {% endif %}

        <div class="row">
            <div class="col-sm-2"><input type=checkbox id="{{ i.subsystemID  }}"
                                         name=Subsystems value="{{ i.subsystemID  }}"></div>
            <div class="col-sm-5" style="text-align: left"><label for="id_{{ i.subsystemID  }}">{{ i.subsystemID  }}</label></div>
        </div>

        {% endfor %}
        <p style="padding-top: 15px; padding-left: 60px">{{ form.submit() }}</p>
    </form>
<!--Congrats on finding this... This is just our old page for claiming, it's broken. -->
{% endblock %}