{% extends 'base.html' %}

{% block title %}{{ Title }}{% endblock %}

{% block header %}
    <h1>{{ Title }}</h1>
{% endblock %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div style='font-size: xx-large' class="col-lg-3 text-white">Name</div>
            <div style='font-size: xx-large' class="col-lg-3 text-white">User Name</div>
            <div style='font-size: xx-large' class="col-lg-3 text-white">Email</div>
            <div style='font-size: xx-large' class="col-lg-3 text-white">ID</div>
        </div>
        {% for user in data %}
            <div class="row">
                <div class="col-lg-3 text-white">{{ user[0] }}</div>
                <div class="col-lg-3 text-white">{{ user[1] }}</div>
                <div class="col-lg-3 text-white">{{ user[2] }}</div>
                <div class="col-lg-3 text-white">{{ user[3] }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}