{% extends 'base.html' %}

{% block meta %}
    <meta http-equiv="refresh" content="30">  {% endblock %}

{% block title %}{{ Title }}{% endblock %}

{% block header %}
    <h1 style="padding-left: 600px; font-size: 60px">{{ Title }}</h1>
{% endblock %}


{% block content %}

    {% for user in user_data %}
    <div class="container text-center">
  <div class="row row-cols-1">180x180
    <div class="col">Score</div>
  </div>
</div>
  </div>
</div>
        </span>
    {% endfor %}
{% endblock %}
